/* start font declarations */
@font-face {
	font-family: 'lato-thin';
	src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
	font-family: 'lato-light';
	src: url(../fonts/Lato-Light.ttf);
}
@font-face {
	font-family: 'lato-regular';
	src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
	font-family: 'lato-bold';
	src: url(../fonts/Lato-Semibold.ttf);
}
@font-face {
	font-family: 'archistico-simple';
	src: url(../fonts/Archistico-Simple.ttf);
}
@font-face {
	font-family: 'allura-regular';
	src: url(../fonts/Allura-Regular.otf);
}
/* end font declarations */
.ui.mobile_only{
	display: none;
}
h1{
	color: grey;
}
.icon{
	color: teal;
}
a{
	color: teal;
}
a:hover{
	color: teal;
	cursor: pointer;
}
.ui.post_comments
,.ui.show_message_form
,.add_bio
,.add_socials
{
	display: none;
}
em{
	font-weight: normal;
	font-style: italic;
}
.ui.toggle.checkbox input:checked~.box:before
, .ui.toggle.checkbox input:checked~label:before {
    background-color: teal;
}
.ui.menu .item:before {
	width: 0;
}
.ui.menu .item{
	font-family: 'lato-light';
	font-weight: bold;
	color: #2B5362;
}
.ui.main.menu .item{
	font-family: 'lato-light';
	font-weight: bold;
	color: #2B5362;
}
.ui.form input[type=search]{
	border: 1px solid rgba(34,36,38,.15);
	border-radius: 0;
	font-size: 0.9em;
	letter-spacing: 2px;
}
.ui.form input[type=search].no_border{
	border: none;
	border-left: 1px solid rgba(34,36,38,.15);
}
.ui.form input[type=search]:focus{
	border-radius: 0;
}
.ui.basic.buttons {
	border: none;
	border-radius: none;
}
.ui.basic.buttons .button{
	border: none;
}
.ui.vertical.segment.footer{
	//padding: 0;
	text-align: center;
	font-family: 'lato-bold';
	font-size: 0.9em;
	letter-spacing: 1px;
	margin-top: 4%;
}
.ui.stackable.grid>.wide.column.no_padding{
	padding: 0 !important;
}
::-webkit-scrollbar
 {
    width: 1em;
}
 
::-webkit-scrollbar-track
 {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb
 {
  background-color: #023B42;
  border-radius: 1em;
  outline: 1px solid slategrey;
}
 
::-webkit-scrollbar-track-piece
{
  background-color: slategrey;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/* start icons and tags*/ 
.star{
	color: #FFB70A;
}
.trash{
	color: black;
}
.share{
	color: #A4ABBC;
}
.warning.sign
,.newspaper{
	color: red;
}
.checkmark{
	color: teal;
}
.money
,.phone{
	color: green;
}
.trophy{
	color: gold;
}
.flag{
	color: olive;
}
.google.plus{
	color: red;
}
.facebook{
	color: #5C7FBD;
}
.twitter{
	color: #00C1F7;
}
.hourglass
,.heterosexual{
	color: slategrey;
}
.marker{
	color: olive;
}
.calendar{
	color: violet;
}
.dashboard
,.university{
	color: #2C2255;
}
.feed
,.book
,.object.group{
	color: #91C653;
}
.write
,.ticket
,.privacy{
	color: #E39942;
}
.add.user
,.male{
	color: #B848FF;
}
.tag{
	color: #E15A5A;
}
.users{
	color: teal;
}
.alarm.outline{
	color: #B81515;
}
.tag.label{
	color: #ffffff;
}
.physics{
	color: #E15A5A;
}
.physics.tag.label
,.physics.ribbon.label{
	color: #ffffff;
	background: #E15A5A;
}
.mathematics{
	color: #54A0D8;
}
.mathematics.tag.label
,.mathematics.ribbon.label{
	color: #ffffff;
	background: #54A0D8;
}
.chemistry{
	color: #B763D3;
}
.chemistry.tag.label
,.chemistry.ribbon.label{
	color: #ffffff;
	background: #B763D3;
}
.biology{
	color: #F29151;
}
.biology.tag.label
,.biology.ribbon.label{
	color: #ffffff;
	background: #F29151;
}
.english{
	color: #FBBD08;
}
.english.tag.label
,.english.ribbon.label{
	color: #ffffff;
	background: #FBBD08;
}
.government{
	color: #E03997;
}
.government.tag.label
,.government.ribbon.label{
	color: #ffffff;
	background: #E03997;
}
.history{
	color: #A46D3C;
}
.history.tag.label
,.history.ribbon.label{
	color: #ffffff;
	background: #A46D3C;
}
.commerce{
	color: #B848FF;
}
.commerce.tag.label
,.commerce.ribbon.label{
	color: #ffffff;
	background: #B848FF;
}
.programming{
	color: #76583B;
}
.programming.tag.label
,.programming.ribbon.label{
	color: #ffffff;
	background: #76583B;
}
.general{
	color: grey;
}
.general.tag.label
,.general.ribbon.label{
	color: #ffffff;
	background: grey;
}
/* end icons and tags */

/* start dashmenu*/
.dashmenu{
	margin-bottom: 1%;
}
/* end dashmenu */

/* start welcome_header */
.welcome_header{
	background: url('/media/img/welcome_header_background.jpg') no-repeat;
	background-size: cover;
	padding-top: 2%; 
}
.welcome_header h1{
	margin: 10% 0;
	color: #ffffff;
	font-family: 'lato-light';
	font-size: 3em;
	text-align: center;
}
/* end welcome_header */

/* start home statistics */
.home_statistics{
	margin-top: 2%;
	background: black;
	padding: 5% 0;
	opacity: 0.7;
}
.home_statistics .statistics .statistic
{
	border-right: 1px solid grey;
}
.home_statistics .statistics .statistic:last-child
{
	border-right: none;
}
.home_statistics .statistics .statistic .value
,.home_statistics .statistics .statistic .label
{
	font-family: 'lato-light';
	letter-spacing: 2px;
	margin-bottom: 2%;
}
.home_statistics .statistics .statistic .label .icon
{
	color: #ffffff;
}
/* start end statistics */

/* start content-wrapper */
.content_wrapper{
	//padding: 2% 0;
}
/* end content-wrapper */

/* start crumbs */
.crumbs{
	padding: 2% 0;
	background: #FCFCFC;
}
.homepage-crumbs{
	//padding: 2% 0 5% 0;
	background: #FCFCFC;
}
/* end crumbs */

/* start modal */
.ui.modal {
    max-height: 600px;
    overflow: auto;
}
/* end modal */

/* start post_thread */
.post_threads{
	background: #FCFCFC;
	margin-top: 10px;
}
.ui.post_thread {
	border-bottom: 1px solid rgba(34,36,38,.15);
	border-left: 1px solid rgba(34,36,38,.15);
	//background: #FCFCFC;
}
.post_thread>.content{
	padding-bottom: 0 !important;
	padding-top: 1% !important;
}
.post_thread .rates_and_comments{
	font-size: 0.8em;
	font-weight: bold;
}
.post_thread .author{
	margin-right: 3%;
	font-weight: bold;
	text-transform: capitalize;
}
.post_thread .description{
	font-family: arial;
	letter-spacing: 0.03em;
	font-size: 1.1em;
}
.post_thread .ui.basic.buttons .button .word{
	color: teal;
	font-family: 'lato-bold';
	font-size: 0.9em;
}
.ui.card>.content a:not(.ui) {
    color: teal;
}
.ui.card>.content a:not(.ui):hover {
    color: teal;
}

.post_thread .no_comment{
	color: grey;
}
/* end post_thread */

/* start school page */
.ui.container.fluid.school_page
,.ui.container.fluid.page_header
,.ui.container.fluid.dashmenu
{
	margin: 0 !important;
}
.school_page .school_header{
	//background: url('/media/img/school_page_background.jpg') no-repeat;
	//background-size: cover;
	color: #008080;
	background: : #ffffff;
	padding: 1% 0;
	border-bottom: 1px solid rgba(34,36,38,.15);
}
.school_page .school_header h1{
	color: #008080;
	padding: 0;
	margin: 0;
	font-family: 'lato-thin';
	text-align: center;
	font-size: 3em;
	letter-spacing: 2px;
}
.school_page .school_header .school_link{
	color: #008080;
}
.school_page .ui.inverted.statistics .statistic>.label {
    color: teal;
}
.school_page .school_header .address{
	font-family: 'lato-regular';
	text-align: center;
	font-size: 1em;
}
.school_page .school_logo_cover
,.school_page .university_logo_cover
{
	position: relative;
	width: 80%;
}
.school_page .ui.school_logo
,.school_page .ui.university_logo
{
	position: absolute;
	top: -200px;
	left: 40px;
	width: 20%;
}
.school_page i.pencil.icon{
	color: white; 
	cursor: pointer;
}
.school_page .ui.mini.statistics{
	font-size: 0.5em;
}
.school_page .ui.fluid.card img#cover
{
	width:100%;
	height:416px;
	object-fit: cover;
}
/* end school page */

/* start all Notifications */
.all_notifications .ui.feed .event .summary{
	color: teal;
	cursor: pointer;
	padding-bottom: 3px;
}
.all_notifications .ui.feed .event .summary:hover{
	cursor: pointer;
}
.all_notifications .ui.feed .event .summary strong{
	color: black;
}
.all_notifications .ui.feed .event .summary .date{
	margin-top: 1px;
	float: right;
	font-size: 0.8em;
}
/* end all Notifications */

/* start user profile */
.user_profile .ui.special.cards .extra.content p{
	//font-weight: bold;
	color: #000000;
}
/* end user profile */

/* start page_header */
.page_header{
	color: #008080;
	background: : #ffffff;
	padding: 1% 0;
	border-bottom: 1px solid rgba(34,36,38,.15);
}
.page_header .title{
	color: #008080;
	font-size: 2em;
	font-family: 'lato-thin';
	text-transform: capitalize;
	letter-spacing: 1px;
}
.page_header .trend{
	font-size: 0.5em;
	font-family: 'lato-thin';
}
/* end page_header */

/* start home_page_header */
.home_page_header{
	color: #008080;
	background: : #ffffff;
	padding: 1% 0 2% 0;
	border-bottom: 1px solid rgba(34,36,38,.15);
}
.home_page_header .title{
	color: #008080;
	font-size: 3.7em;
	font-family: 'lato-thin';
	text-transform: capitalize;
	letter-spacing: 1px;
}
.home_page_header .trend{
	color: grey;
	font-size: 1.2em;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-family: 'lato-thin';
}
/* end page_header */

/* start private thread */
.private_thread{
	margin-top: 1%;
	padding: 2%;
	height: 400px;
	overflow: auto;
	background: #FCFCFC;
}
/* end private thread */

/* start mobile_menu */
.ui.visible.uncover.sidebar {
	height: 200px;
	overflow: auto;
}
/* end mobile_menu */

/* start logo_name */
.logo_name{
	font-family: verdana;
	font-weight: bold;
	color: green;
	letter-spacing: 2px;
}
/* end logo_name */

/* start sidebar menu */
.ui.vertical.sidebar.menu.mobile_menu{
	background: #0E4D4E;
}
/* end sidebar menu */

/* start homepage grid-item and user-search-results */
.homepage-grid .grid-item{
	width: 25%;
	margin: 2% 0;
}
.homepage-grid .grid-item .ui.card{
    border: none;
    border-radius: .28571429rem !important;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
}
.user_search_results{
	position: relative;
}
.homepage-grid .ui.loader
,.user_search_results .ui.loader
,.homepage-grid .ias-noneleft
,.user_search_results .ias-noneleft
,.user_search_results .ias-trigger.ias-trigger-next
{
	position: absolute;
	top: 100%;
	left: 45%;
}
/* end homepage grid-item */

/* start features */
.features{
	//padding: 3% 0;
}
.features h1{
	text-align: center;
	font-family: 'lato-light';
	letter-spacing: 2px;
}
.features h3{
	text-align: center;
	font-family: 'lato-light';
	letter-spacing: 2px;
}
.features.feature-schools{
	background: #e8e8e8;
}
.features.some-features{
	background: #2B5362;
}
.features.some-features h1{
	color: #fff;
}
.features.some-features .feature{
	margin: 0 3%;
	text-align: center;
}
.features.some-features .feature .description{
	text-transform: uppercase;
	font-family: 'lato-regular';
	font-size: 1.1em;
	color: #fff;
}
.features.join{
	background: #D2FBF5;
}
.features.join h1{

}
.features.join .step{
	padding: 0 1%;
}
.features.join .step .description{
	text-align: center;
	color: #023B42;
	//letter-spacing: 1px;
	font-family: 'lato-regular';
	font-size: 1.5em;
}
.features.join .extra{
	padding: 0 2%;
}
/* end features */

/*start 1024 media query*/
@media only screen and ( max-width: 1024px ) {
	.school_page .ui.school_logo
	,.school_page .ui.university_logo
	{
		position: absolute;
		top: -130px;
		left: 10px;
		width: 20%;
	}
	.school_page .ui.fluid.card img#cover
	{
		width:100%;
		height:300px;
	}
	.homepage-grid .grid-item{
		width: 30.3333%;
		margin: 0 auto;
		margin: 2% 1%;
	}
}
/*end 1024 media query*/

/*start 768 media query*/
@media only screen and ( max-width: 768px ) {
	.school_page .ui.school_logo
	,.school_page .ui.university_logo{
		position: absolute;
		top: -100px;
		left: 10px;
		width: 20%;
	}
	.school_page .ui.fluid.card img#cover
	{
		width:100%;
		height:200px;
	}
	.homepage-grid .grid-item{
		width: 40%;
		margin: 0 auto;
		margin: 4%;
	}
}
/*end 768 media query*/

/*start 480 media query*/
@media only screen and ( max-width: 480px ) { 
	.ui.menu .item{
		//font-weight: bold;
		letter-spacing: 1px;
		font-size: 0.9em;
	}
	.ui.menu .right.dropdown.item.all_notifications .menu{
		width: 350px;
    	overflow: auto;
	}
	.ui.mobile_only{
		display: flex;
	}
	.ui.menu.enlarge_mobile_icons .item .icon{
		font-size: 2em;
	}
	.ui.container.no_side_margin{
		margin: 0 !important;
	}
	.no_mobile_side_padding
	,.ui.stackable.grid>.wide.column.no_mobile_side_padding
	{
		padding: 0 !important;
	}
	.mobile_hide
	,.ui.mobile_hide
	,.ui.mobile_hide.vertical.menu
	,.ui.stackable.grid .mobile_hide.user_profile{
		display: none;
	}
	.page_header
	,.school_page{
		//padding: 0;
	}
	.ui.stackable.grid.mobile_margin_1em{
		margin-left: 1em !important; 
		margin-right: 1em !important;
	}
	.school_page .school_header{
		padding: 1% 0 5% 0;
	}
	.school_page .school_logo_cover
	,.school_page .university_logo_cover
	{
		width: 100%;
	}
	.school_page .ui.school_logo
	,.school_page .ui.university_logo
	{
		position: absolute;
		top: -70px;
		left: 10px;
		width: 20%;
	}

	.school_page .ui.fluid.card img#cover
	{
		width:100%;
   		height:200px;
	}
	.homepage-grid .grid-item{
		width: 100%;
		margin: 0 auto;
		margin: 4% 2%;
	}
}
/*end 480 media query*/

/*start 360 media query*/
@media only screen and ( max-width: 360px ) { 
	.ui.menu .right.dropdown.item.all_notifications .menu{
		width: 300px;
    	overflow: auto;
	}
	.ui.menu .item{
		//font-weight: bold;
		letter-spacing: 1px;
		font-size: 0.8em;
	}
}
/*end 360 media query*/